/* General Styles: Applies to the whole page */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color:gray;
    color: mediumaquamarine;
    padding: 10px;
    text-align: center;
    border-bottom: solid;
    border-color: aqua;
}


/* Header font size increased */
/*Increase the font size of h1 in the header class to 2.5 em and set the 
margin to 0
*/
.header h1 { 
    font-size: 2.5em;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    padding: 20px;

}



/* Navigation bar hover effect added */
.nav-item {
    color: white;
    margin: 0 15px;
    cursor: pointer;
    font-size: 1.1rem;
}

.nav-item:hover {
    color: pink;
    
}

/* Content Section */
.content {
    padding: 20px;
    background-color: #f9f9f9;
}


.flex-container{
    display:flex;
    gap: 20px; 
    flex-wrap: wrap;
    margin:20px 0;
    justify-content: center;
 }

/* Increased padding for articles */

.article {
    flex: 1 1 300px;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Image Card */
/* For the Image card class, include the following styles
## The text should be aligned to center 
## Apply a border style with a border radius
## set the padding
## set the background color to anything of your choice
## Set a box shadow for the image (use appropriate values)
*/
.image-card {
    flex: 1 1 150px;
    text-align: center;
    justify-items: center;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 20px rgb(25,78,156);
}

/* Enlarged images inside image cards */
.image-card img {
    transform: scale(1.1);
    border-radius: 8px;
    
}

/* Highlight class */

.highlight {
    color: #080456;
    font-weight: bold;
}

/*
The highlight class in the footer class should be set to a font colour of your
choice and the font(for the highlighted text) should appear in bold
*/

.footer .highlight{
    color: aqua;
    font-weight: bold;
}

/* Footer Styles */
.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

/* Reduced font size for footer text */
/*
Reduce the footer font size so that it is smaller than the parent font size.
*/
